* {
    margin: 0px;
}

header {
    background-color: rgba(248, 153, 175, 0.767);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;

    position: sticky;
    top: 0%;
    padding: 2rem;
    z-index: 1000;
}

h1 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}


.background {
    background-size: cover;
    height: 700px;
    width: 1520px;

    position: relative;

}

.services {
    background-image: url(https://cdn0.hitched.co.uk/vendor/9215/3_2/640/jpeg/e754adf2-337a-497e-a21f-3ca25840fa15_4_269215-172614616222911.jpeg);
}

.packages {
    background-image: url(https://www.beeventhire.co.uk/wp-content/uploads/2017/02/Decorating-Your-Wedding-Chairs.jpg);
}

.contact {
    background-image: url(https://www.elizabethjamesevents.co.uk/images/location_page_templates/header-corporate_1673076980.webp);
}

.cta-box {
    border: 1px;
    border-color: black;
    border-style: solid;

    height: 23vh;
    width: 46vh;

    background-color: #96949492;
    
    position: absolute;
    bottom: 165px;
    left: 105px;

    display: inline-block;
    padding: 0.75rem 1.5rem;
    line-height: 2.4;
    
}

footer {
    display: flex;
    justify-content: center;

    background-color: rgb(248, 153, 175);
    padding: 2rem;
}